:root {
  --bg--clr: #f5f7ff;
  --btn--clr-primary: #d8ddf0;
  --btn--clr-secondry: #f5f7ff;
  --primary--clr: #3488ff;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: var(--bg--clr);
}

.num {
  color: #606a89;
  background-color: var(--btn--clr-primary);
}
