@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
:root {
  --bg--clr: #f5f7ff;
  --btn--clr-primary: #d8ddf0;
  --btn--clr-secondry: #f5f7ff;
  --primary--clr: #3488ff;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: var(--bg--clr);
  height: 100vh;
}

button {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: none;
  background-color: var(--btn--clr-secondry);
  box-shadow: 0 0 8px 1px #7f7c7c35;
  color: #606a89;
  font-size: 1.5rem;
  font-family: "Rubik", sans-serif;
}

.container {
  width: 320px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-color: #fff;
  padding: 25px;
  border-radius: 15px;
}
.container > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
}

#clear {
  background-color: #1e2b54;
  color: #fff;
  font-size: 1.6rem;
}
#factorial > i {
  font-size: 2rem;
}
.container > input {
  background-color: var(--primary--clr);
  border: none;
  padding: 25px 0;
  border-radius: 60px;
  color: #fff;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.num {
  color: #606a89;
  background-color: var(--btn--clr-primary);
}
